body {
    background: linear-gradient(90deg, #71a781, #129ea7, #3789c1);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    margin: 0;
}

.img-fluid {
    object-fit: cover;
}
.custom-card {
    border-radius: 15px; /* Bordes redondeados */
    width: 100%; /* Ajusta el ancho del card */
   
}

.custom-card .card-body {
    padding: 20px; /* Aumenta el padding para más espacio interior */
}

.custom-card .card-header {
    border-radius: 15px 15px 0 0; /* Bordes redondeados solo en la parte superior */
}

.container-fluid{
    width: 90%;
}