<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clasificación de Imágenes</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet"">
</head>
<body>
    <header class="bg-dark text-white text-center py-3">
        <h1>Clasificación de Imágenes</h1>
    </header>
    <main class="container-fluid my-4">
        <div class="card custom-card mb-4">
            <div class="card-header text-center">
                <h2>Detección de rasgos faciales</h2>
            </div>
            <div class="card-body row">
                <div class="col-md-4 mb-4">
                    <div class="card h-100 custom-card">
                        <div class="card-body text-center">
                            <h3>{{ mensaje }}</h3>
                            {% if image_src_1 %}
                            <img src="{{ url_for('static', filename='Images/imagen_recibida_1_original.png') }}" alt="Imagen cargada" class="img-fluid mb-3" style="width: 360px; height: 480px;">
                          
                            {% endif %}
                            <br>
                            <button class="btn btn-dark" id="reload-button">Recibir imagen</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 mb-4">
                    <div class="card h-100 custom-card">
                        <div class="card-body text-center">
                            <h3>Filtros</h3>
                            <div class="d-flex justify-content-around mb-3">

                                {% if image_src_2 %}
                                <img src="{{ url_for('static', filename='Images/imagen_recibida_1_detecciones.png') }}" alt="original" class="img-fluid" style="width: 360px; height: 480px;">
                                {% endif %}

                                {% if image_output %}
                                <img src="{{ url_for('static', filename='Images/output.png') }}" alt="filtro" class="img-fluid" style="width: 360px; height: 480px;">
                                {% endif %}

                               
                               
                            </div>
                            <button class="btn btn-dark" onclick="aplicarFiltro()">Aplicar filtros</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card custom-card">
            <div class="card-header text-center">
                <h2>Detección de rasgos faciales</h2>
            </div>
            <div class="card-body row">
                <div class="col-md-4 mb-4">
                    <div class="card h-100 custom-card">
                        <div class="card-body text-center">
                            <h3>{{ mensaje }}</h3>
                            {% if image_src_3 %}
                          
                            <img src="{{ url_for('static', filename='Images/imagen_recibida_2_original.png') }}" alt="Imagen cargada" class="img-fluid mb-3" style="width: 360px; height: 480px;">
                            {% endif %}

                            
                            <br>
                            <button class="btn btn-dark" id="reload-button">Recibir imagen</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 mb-4">
                    <div class="card h-100 custom-card">
                        <div class="card-body text-center">
                            <h3>Filtros</h3>
                            <div class="d-flex justify-content-around mb-3">
                                {% if image_src_4 %}
                
                                <img src="{{ url_for('static', filename='Images/imagen_recibida_2_prediccion.png') }}"
                                    alt="Imagen cargada" class="img-fluid mb-3" style="width: 360px; height: 480px;">
                                {% endif %}

                                {% if prediccion %}
                                <h3> Predicción: {{ prediccion }}</h3>
                                {% endif %}
                            </div>
                            <button class="btn btn-dark">Aplicar filtros</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
<script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</html>
